<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>A_section.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE8C5C8B1E85494700CF73F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE8C5CA41E85494800CF73F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE8C5CAF1E85494800CF73F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
